@model WebTinTucTraining.Models.HelloModel
@{ 
    ViewBag.Title = "Trang Chủ";
}
<div>
    <p>@ViewBag.Hello</p>
    <p>@ViewData["Xinchao"]</p>
    <p>Tên: @Model.FirstName</p>
    <p>Họ: @Model.LastName</p>
</div>